## Оценка интенсивности прихода заявок в систему

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('ddd.csv', parse_dates=[0], names=['datetime'])
data

                       datetime
0       2020-04-02 00:00:02.425
1       2020-04-02 00:01:39.372
2       2020-04-02 00:12:28.616
3       2020-04-02 00:39:24.379
4       2020-04-02 00:41:54.129
...                         ...
1792126 2021-10-29 14:32:38.762
1792127 2021-10-29 14:34:11.988
1792128 2021-10-29 14:36:30.574
1792129 2021-10-29 14:38:12.585
1792130 2021-10-29 14:39:30.466

[1792131 rows x 1 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1792131 entries, 0 to 1792130
Data columns (total 1 columns):
 #   Column    Dtype
---  ------    -----
 0   datetime  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 13.7 MB

In [5]:
data['year'] = data['datetime'].dt.year
data['month'] = data['datetime'].dt.month
data['dayofweek'] = data['datetime'].dt.dayofweek
data['day'] = data['datetime'].dt.day
data['hour'] = data['datetime'].dt.hour
data

                       datetime  year  month  dayofweek  day  hour
0       2020-04-02 00:00:02.425  2020      4          3    2     0
1       2020-04-02 00:01:39.372  2020      4          3    2     0
2       2020-04-02 00:12:28.616  2020      4          3    2     0
3       2020-04-02 00:39:24.379  2020      4          3    2     0
4       2020-04-02 00:41:54.129  2020      4          3    2     0
...                         ...   ...    ...        ...  ...   ...
1792126 2021-10-29 14:32:38.762  2021     10          4   29    14
1792127 2021-10-29 14:34:11.988  2021     10          4   29    14
1792128 2021-10-29 14:36:30.574  2021     10          4   29    14
1792129 2021-10-29 14:38:12.585  2021     10          4   29    14
1792130 2021-10-29 14:39:30.466  2021     10          4   29    14

[1792131 rows x 6 columns]

In [6]:
year = 2020
month = 11

In [7]:
best_variance = float('inf')
best_mean = 0


def add_mean_var(mean, variance):
    global best_mean, best_variance
    print('Выборочное среднее:', mean)
    print('Дисперсия:', variance)
    if variance < best_variance:
        best_variance = variance
        best_mean = mean

### 1. Постройте статистический ряд количества заявок в течение часа за три дня. Вычислите выборочные среднюю и дисперсию полученного статистического ряда

In [8]:
data_3_days = data.query('year == @year & month == @month & 1 <= day <= 3')
data_3_days

                      datetime  year  month  dayofweek  day  hour
538884 2020-11-01 00:00:32.156  2020     11          6    1     0
538885 2020-11-01 00:01:00.823  2020     11          6    1     0
538886 2020-11-01 00:01:13.797  2020     11          6    1     0
538887 2020-11-01 00:01:13.833  2020     11          6    1     0
538888 2020-11-01 00:01:13.992  2020     11          6    1     0
...                        ...   ...    ...        ...  ...   ...
546828 2020-11-03 23:55:47.969  2020     11          1    3    23
546829 2020-11-03 23:56:32.690  2020     11          1    3    23
546830 2020-11-03 23:56:44.736  2020     11          1    3    23
546831 2020-11-03 23:58:55.218  2020     11          1    3    23
546832 2020-11-03 23:59:16.045  2020     11          1    3    23

[7949 rows x 6 columns]

Статистический ряд

In [9]:
data_3_days_grouped_values = data_3_days.groupby(['day', 'hour']).size().values
data_3_days_grouped_values

array([185,  92,  50,  54,  26, 181,  15, 242,  51, 114,  79,  74,  87,
        83,  66,  54, 114, 136, 206, 108, 184, 181, 179, 114,  39,  43,
        36,  68,  90,  36, 177,  38,  44,  82,  88, 130, 132, 135, 198,
       149, 188, 242, 181, 226, 135, 124, 169, 135,  72, 108,  38,  50,
        21,   6, 127,  74,  66,  59,  69, 150,  99, 123, 139, 113,  79,
       147, 112, 174, 131, 151, 182,  99], dtype=int64)

In [10]:
add_mean_var(data_3_days_grouped_values.mean(), data_3_days_grouped_values.var())

Выборочное среднее: 110.40277777777777
Дисперсия: 3298.9905478395062

### 2. Постройте статистический ряд количества заявок в течение дня за месяц. Вычислите выборочные среднюю и дисперсию полученного статистического ряда. Единицы измерения полученных характеристик переведите в кол. заявок/час.

In [11]:
data_month = data.query('year == @year & month == @month')
data_month

                      datetime  year  month  dayofweek  day  hour
538884 2020-11-01 00:00:32.156  2020     11          6    1     0
538885 2020-11-01 00:01:00.823  2020     11          6    1     0
538886 2020-11-01 00:01:13.797  2020     11          6    1     0
538887 2020-11-01 00:01:13.833  2020     11          6    1     0
538888 2020-11-01 00:01:13.992  2020     11          6    1     0
...                        ...   ...    ...        ...  ...   ...
617043 2020-11-30 23:59:47.018  2020     11          0   30    23
617044 2020-11-30 23:59:47.131  2020     11          0   30    23
617045 2020-11-30 23:59:47.330  2020     11          0   30    23
617046 2020-11-30 23:59:47.399  2020     11          0   30    23
617047 2020-11-30 23:59:47.423  2020     11          0   30    23

[78164 rows x 6 columns]

Статистический ряд

In [12]:
data_month_grouped_values = data_month.groupby(['day']).size().values / 24
data_month_grouped_values

array([111.45833333, 120.20833333,  99.54166667, 101.83333333,
       115.125     , 113.83333333, 120.58333333,  92.41666667,
       126.25      , 109.66666667, 104.08333333, 105.70833333,
       112.16666667, 116.20833333,  89.04166667, 114.33333333,
       110.54166667, 109.91666667, 105.20833333, 109.5       ,
       119.75      ,  94.95833333, 100.        , 107.29166667,
       115.08333333, 106.5       , 112.70833333, 121.95833333,
        85.58333333, 105.375     ])

In [13]:
add_mean_var(data_month_grouped_values.mean(), data_month_grouped_values.var())

Выборочное среднее: 108.56111111111113
Дисперсия: 91.98179783950617

### 3. Воспользуйтесь данными двух месяцев, соседних Вашему варианту. Постройте статистический ряд количества заявок в течение понедельника за три месяца. Вычислите выборочные среднюю и дисперсию полученного статистического ряда. Единицы измерения полученных характеристик переведите в кол. заявок/час.

In [14]:
data_3_months_mondays = data.query('year == @year & @month - 1 <= month <= @month + 1')
data_3_months_mondays

                      datetime  year  month  dayofweek  day  hour
434204 2020-10-01 00:00:47.540  2020     10          3    1     0
434205 2020-10-01 00:00:51.139  2020     10          3    1     0
434206 2020-10-01 00:01:21.372  2020     10          3    1     0
434207 2020-10-01 00:02:17.099  2020     10          3    1     0
434208 2020-10-01 00:02:25.151  2020     10          3    1     0
...                        ...   ...    ...        ...  ...   ...
700235 2020-12-31 23:59:52.708  2020     12          3   31    23
700236 2020-12-31 23:59:52.742  2020     12          3   31    23
700237 2020-12-31 23:59:52.764  2020     12          3   31    23
700238 2020-12-31 23:59:52.764  2020     12          3   31    23
700239 2020-12-31 23:59:59.025  2020     12          3   31    23

[266036 rows x 6 columns]

Статистические ряды по дням недели

In [15]:
data_3_months_grouped_values = data_3_months_mondays.groupby(['dayofweek', 'day']).size() / 24
data_3_months_grouped_values

dayofweek  day
0          2      120.208333
           5      152.541667
           7      107.083333
           9      126.250000
           12     141.208333
                     ...
6          20      92.083333
           22      94.958333
           25     106.291667
           27     100.500000
           29      85.583333
Length: 92, dtype: float64

Выборочное среднее и дисперсия по дням недели

In [16]:
results_list = []

for x in range(data_3_months_grouped_values.index.levshape[0]):
    day_series = data_3_months_grouped_values[x]
    print('Номер дня:', x)
    add_mean_var(day_series.mean(), day_series.var())

#data_3_months_results = pd.DataFrame(results_list, columns=['Mean', 'Variance'])
#data_3_months_results.index.name = 'Day of week'
#data_3_months_results

Номер дня: 0
Выборочное среднее: 117.62820512820511
Дисперсия: 262.49695067663816
Номер дня: 1
Выборочное среднее: 110.03846153846153
Дисперсия: 211.35458956552714
Номер дня: 2
Выборочное среднее: 116.70833333333333
Дисперсия: 164.83854166666666
Номер дня: 3
Выборочное среднее: 126.23511904761905
Дисперсия: 1268.9197668650793
Номер дня: 4
Выборочное среднее: 128.4679487179487
Дисперсия: 736.4117922008548
Номер дня: 5
Выборочное среднее: 142.36538461538458
Дисперсия: 1369.0252181267806
Номер дня: 6
Выборочное среднее: 101.52564102564102
Дисперсия: 358.5895655270654

### 4. Воспользуйтесь данными двух месяцев, соседних Вашему варианту. Постройте статистический ряд количества заявок в течение недели за три месяца. Вычислите выборочные среднюю и дисперсию полученного статистического ряда. Единицы измерения полученных характеристик переведите в кол. заявок/час

3 месяца содержат около 13 недель

In [17]:
weeks_count = 13

Далее будем работать с интервалом времени из 13 полных недель, начинающимся с первого дня первого из 3 месяцев

Определим первый день рассматриваемого интервала из 3 месяцев

In [18]:
months_1st_day = pd.Timestamp(
    data.query('year == @year & month == @month - 1 & day == 1').reset_index(drop=True).loc[0, 'datetime'].date())
months_1st_day

Timestamp('2020-10-01 00:00:00')

Найдем последний день интервала времени из 13 недель

In [19]:
from datetime import timedelta

months_after_last_day = months_1st_day + timedelta(days=7 * weeks_count)
months_after_last_day

Timestamp('2020-12-31 00:00:00')

Получим данные в рассматриваемом интервале

In [20]:
data_weeks = data.query('@months_1st_day <= datetime < @months_after_last_day').copy()
data_weeks

                      datetime  year  month  dayofweek  day  hour
434204 2020-10-01 00:00:47.540  2020     10          3    1     0
434205 2020-10-01 00:00:51.139  2020     10          3    1     0
434206 2020-10-01 00:01:21.372  2020     10          3    1     0
434207 2020-10-01 00:02:17.099  2020     10          3    1     0
434208 2020-10-01 00:02:25.151  2020     10          3    1     0
...                        ...   ...    ...        ...  ...   ...
694466 2020-12-30 23:59:55.948  2020     12          2   30    23
694467 2020-12-30 23:59:56.124  2020     12          2   30    23
694468 2020-12-30 23:59:56.147  2020     12          2   30    23
694469 2020-12-30 23:59:56.294  2020     12          2   30    23
694470 2020-12-30 23:59:56.321  2020     12          2   30    23

[260267 rows x 6 columns]

Добавим в данные интервала столбец "номер недели"

In [21]:
data_weeks['week_number'] = (data_weeks['datetime'] - months_1st_day).dt.days // 7
data_weeks['week_number']

434204     0
434205     0
434206     0
434207     0
434208     0
          ..
694466    12
694467    12
694468    12
694469    12
694470    12
Name: week_number, Length: 260267, dtype: int64

Статистический ряд

In [22]:
data_weeks_grouped_values = data_weeks.groupby(['week_number']).size() / (24 * 7)
data_weeks_grouped_values

week_number
0     156.154762
1     157.541667
2     126.553571
3     127.029762
4     117.678571
5     111.708333
6     108.273810
7     107.398810
8     106.690476
9     105.166667
10    111.476190
11    110.017857
12    103.517857
dtype: float64

In [23]:
add_mean_var(data_weeks_grouped_values.mean(), data_weeks_grouped_values.var())

Выборочное среднее: 119.16987179487181
Дисперсия: 334.293081629019

### 5. Воспользуйтесь всем датасетом. Постройте статистический ряд количества заявок в течение месяца за весь период наблюдения. Вычислите выборочные среднюю и дисперсию полученного статистического ряда. Единицы измерения полученных характеристик переведите в кол. заявок/час

Определим количество заявок в каждый месяц

In [24]:
data_months_counts = data.groupby(['year', 'month']).size()
data_months_counts

year  month
2020  4          9242
      5         16845
      6         50534
      7         98463
      8        142928
      9        116192
      10       104680
      11        78164
      12        83192
2021  1        100394
      2         87513
      3        109885
      4        114425
      5        141723
      6        145243
      7        152174
      8        164693
      9         75834
      10            7
dtype: int64

Определим количество дней, представленных в данных, для каждого месяца

In [25]:
data_months_day_count = data.groupby(['year', 'month'])['day'].nunique()
data_months_day_count

year  month
2020  4        29
      5        31
      6        30
      7        31
      8        31
      9        30
      10       31
      11       30
      12       31
2021  1        31
      2        28
      3        31
      4        30
      5        31
      6        30
      7        31
      8        31
      9        20
      10        1
Name: day, dtype: int64

Для каждого месяца определим среднее количество заявок в день. Это нужно, так как разные месяцы содержат разное число дней

In [26]:
data_months_per_day = data_months_counts / data_months_day_count
data_months_per_day

year  month
2020  4         318.689655
      5         543.387097
      6        1684.466667
      7        3176.225806
      8        4610.580645
      9        3873.066667
      10       3376.774194
      11       2605.466667
      12       2683.612903
2021  1        3238.516129
      2        3125.464286
      3        3544.677419
      4        3814.166667
      5        4571.709677
      6        4841.433333
      7        4908.838710
      8        5312.677419
      9        3791.700000
      10          7.000000
dtype: float64

Статистический ряд

In [27]:
data_months = data_months_per_day / 24
data_months

year  month
2020  4         13.278736
      5         22.641129
      6         70.186111
      7        132.342742
      8        192.107527
      9        161.377778
      10       140.698925
      11       108.561111
      12       111.817204
2021  1        134.938172
      2        130.227679
      3        147.694892
      4        158.923611
      5        190.487903
      6        201.726389
      7        204.534946
      8        221.361559
      9        157.987500
      10         0.291667
dtype: float64

In [28]:
add_mean_var(data_months.mean(), data_months.var())

Выборочное среднее: 131.64134636159363
Дисперсия: 4217.551597024211

### 6. Выберите среднюю интенсивность, соответствующую минимальной дисперсии.

In [29]:
best_mean, best_variance

(108.56111111111113, 91.98179783950617)

In [30]:
eps = 1e-5

In [31]:
queues_count = 8  # n
arrival_rate = best_mean / 3600  # λ, количество заявок в секунду
max_wait_time = 30  # τ
service_time = 2.3  # t, 1/μ

load_intensity = arrival_rate * service_time  # ρ, λ/μ = λ*t

In [32]:
import math

a = queues_count / load_intensity
b = arrival_rate * max_wait_time
c = math.e ** b * (1 - a)

In [33]:
def range_closed(start, end):
    return range(start, end + 1)


def floats_equal(a, b):
    return abs(a - b) < eps

In [34]:
B = 1 + b if floats_equal(load_intensity, queues_count) else (c - 1) / (1 - a)

In [35]:
from math import factorial
from expression.collections import Seq

p_0 = (Seq(range_closed(0, queues_count)).map(lambda k: load_intensity ** k / factorial(k)).sum()
       + load_intensity ** queues_count / factorial(queues_count) * B) ** -1

In [36]:
p_refusal = load_intensity ** queues_count / math.factorial(queues_count) * c * p_0
Q = 1 - p_refusal
arrival_rate_eff = arrival_rate * Q
arrival_rate_refusal = arrival_rate * p_refusal

In [37]:
D = (1 + b / 2) if floats_equal(load_intensity, queues_count) else a - c * (a + b * (a - 1)) / (b * (a - 1) ** 2)

Среднее время в секундах, которое заявка находится в очереди

In [38]:
W_0 = max_wait_time * load_intensity ** queues_count / factorial(queues_count) * D * p_0
W_0

4.482418215546051e-11

In [39]:
queries_month = best_mean * 24 * 30
queries_month

78164.00000000001

Процент необработанных заявок

In [45]:
queries_month_refused = queries_month * p_refusal
print(queries_month_refused * 100, '%')

-2.7369422249926168e-05 %

Средняя сумма от штрафов за месяц

In [46]:
print(queries_month_refused, '* x')

-2.736942224992617e-07 * x